<header class="container py-3">
  <div
    class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center text-dark text-decoration-none"
    >
      <img
        src="../assets/images/logos/logo.png"
        width="40"
        height="40"
        alt=""
      />
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Features</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sign in</a>
      <a class="py-2 text-dark text-decoration-none" href="#"
        ><fa-icon [icon]="faGithub"></fa-icon
      ></a>
    </nav>
  </div>
</header>

<div class="container py-3">
  <router-outlet></router-outlet>

  <main>
    <div class="row">
      <div class="col-md-6">
        <h1 class="main-title" aria-label="Stay curious">
          Stay <code>curious</code>
        </h1>
        <p class="fs-5 col-md-8">
          Discover stories, thinking, learning and expertise from developers on
          any topic,
          <code>learn without experience</code> and yes, it is open-source
        </p>

        <div class="mb-5">
          <a
            href=""
            class="btn btn-blog btn-primary btn-lg px-4"
            aria-label="Create a free account"
            >Create a free account</a
          >
          <a
            href=""
            class="btn btn-blog btn-dark btn-lg px-4 m-3"
            aria-label="Join the team"
          >
            <fa-icon [icon]="faGithub"></fa-icon>
            Join the team</a
          >
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <img
          src="../assets/images/blog.png"
          class="main-page-img"
          alt="Stay curious"
          aria-label="Stay curious"
        />
      </div>
    </div>

    <hr class="col-3 col-md-2 mb-5" />

    <div class="row g-5 mt-1">
      <div class="col-md-6">
        <h2>What is Blogem?</h2>
        <p>
          Blogem is basically a project that helps other developers to gain experience, teamwork, in order to get a job as a developer.
        </p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1">
            <a
              class="link"
              href="https://github.com/twbs/bootstrap-npm-starter"
              rel="noopener"
              target="_blank"
              >Installation and work with the API <code>ASP.NET CORE 5.0</code></a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <h2>Application stack</h2>
        <p>
          Read more detailed instructions and documentation on using or
          contributing to Blogem.
        </p>
        <ul class="icon-list ps-0">
          <li class="d-flex align-items-start mb-1">
            <a class="link" href="https://opensource.org/"
              >Learn about Open Source licenses</a
            >
          </li>
          <li class="d-flex align-items-start mb-1">
            <a class="link" target="_blank" href="https://opensource.org/"
              >JavaScript/TypeScript</a
            >
          </li>
          <li class="d-flex align-items-start mb-1">
            <a class="link" target="_blank" href="https://opensource.org/"
              >Angular <code>Version 15</code></a
            >
          </li>
          <li class="d-flex align-items-start mb-1">
            <a class="link" target="_blank" href="https://opensource.org/"
              >RxJs</a
            >
          </li>
          <li class="d-flex align-items-start mb-1">
            <a class="link" target="_blank" href="https://opensource.org/"
              >NgRx</a
            >
          </li>
          <li class="d-flex align-items-start mb-1">
            <a class="link" target="_blank" href="https://opensource.org/"
              >C#/ASP.NET Core 5.0</a
            >
          </li>
          <li class="d-flex align-items-start mb-1">
            <a class="link" target="_blank" href="https://opensource.org/"
              >MongoDB and MySQL</a
            >
          </li>
          <li class="d-flex align-items-start mb-1">
            <a
              class="btn btn-sm btn-dark"
              href="https://github.com/HeyBaldur/blog-spa/fork"
            >
              <fa-icon [icon]="faNetworkWired"></fa-icon>
              Fork UI repo
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>

<footer class="pt-5 my-5 text-muted border-top container py-3">
  Created by HeyBaldur &middot; &copy; 2023
</footer>

<app-navbar [user]="user"></app-navbar>